* {
  margin: 0; padding: 0;
}

body {
    background-color: black;
}

#container {
  object-fit: fill;
}

video {
  position: absolute;
  
  /* Vertical and Horizontal center*/
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}

#overlay {
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  
  
}

.grandtitle {
  text-align: center;
  font-family: Montserrat;
  color: white;
  font-size: 40px;
  margin-top: 100px;
  padding: 30px;
}

/* fadeIn */
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-duration: 5s;
    animation-delay: 1.5s; 
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

