* {
  margin: 0; padding: 0;
}

body {
    background-color: white;
}

#container {
  object-fit: fill;
}

video {
  position: absolute;
  
  /* Vertical and Horizontal center*/
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
}

#overlay {
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  
  
}

.grandtitle {
  opacity: 0;
  text-align: center;
  font-family: Muli;
  color: white;
  font-size: 40px;
  margin-top: 250px;
  padding: 30px;
  text-rendering: optimizeLegibility;
  text-rendering: optimizeSpeed;
}

.buttonContainer {
  opacity: 0;
}

/* button characteristics */

